<div class="card row header">
	<div style="display: flex; flex-direction: row;">
		<button ng-if="backButton" style="border-radius:5px;height:45px;width:45px;background:white;font-size:1.1em;margin-right:20px;" class="fa fa-arrow-left btn btn--secondary" ng-click="handleBackButton()"></button>
		<h2>{{title}}</h2>
	</div>
	<div style="display: flex; flex-direction: row;">
		<button ng-if="createNew" class="btn btn--success" ng-click="createResource()">Create</button>

		<button ng-if="editSettings" class="btn btn--success" ng-click="updateResource()">Update</button>
		<button ng-if="editSettings" class="btn btn--danger" data-toggle="modal" data-target="#promptDelete">Delete</button>

		<button id="menu" class="fa fa-user-circle btn btn--secondary dropdown-toggle btn--menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu">
			<h5 class="dropdown-header">Menu</h5>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#" data-toggle="modal" data-target="#promptTheme">Themes</a>
			<a class="dropdown-item" href="#">About</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/login">Logout</a>
		</div>
	</div>
</div>
<div ng-include="'partials/promptTheme.html'"></div>
<div ng-include="'partials/promptLeave.html'"></div>