body {
	display: flex;
	transition: all 0.5s ease;
}

label {
	margin-bottom: 0;
}

.form-group h5 {
	padding-top: 13px;
}

.main {
	margin: 0;
	min-height: 95vh;
	background: inherit;
	box-shadow: none;
	border: none;
}

.sidebar {
	margin: 100px 0;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	min-width: 150px;
	text-align: right;
}

.sidebar i {
	width: 25px;
	padding-left: 8px;
}

.sidebar a {
	outline: 0;
	border: 0;
	padding-bottom: 8px;
}

.header {
	margin: 0;
	padding: 10px 50px 10px 35px;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	box-shadow: none;
	border: none;
	z-index: 2;
	text-transform: capitalize;
}

a {
	margin: 0;
}

select {
	border: 1px solid #ced4da !important;
	margin-top: 5px;
}

.category-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.remove-option {
	margin-top: 5px;
	display:flex;
	justify-content:center;
}

.login-form {
	max-width: 500px;
	margin: 20px auto;
}

.dropdown-menu {
	left: -35px !important;
	top: 5px !important;
	border: 0;
	box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.btn--menu {
	margin-left:90px;
	border-radius:5px;
	height:45px;
	width:45px;
	background:white;
	font-size:1.3em;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #f2f2f2;
	background-color: #6991da;
}

.dropdown-item:focus,
.dropdown-item:hover {
	border: 0;
}

.personalizationOption,
.colorOption,
.sizeOption {
	display: flex;
    justify-content: center;
    align-items: center;
}

.clickable {
	cursor: pointer;
}

.attributeWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	margin-left: 5px;
	margin-bottom: 5px;
}

.success {
	color: #3acc93 !important;
}

.primary {
	color: #6991da !important;
}

.danger {
	color: #f67777 !important;
}

.bg-primary {
	background-color: #6991da !important;
}

.bg-success {
	background-color: #3acc93 !important;
}

.overlay {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.select-wrapper {
	width: 180px;
}

.custom-file {
	margin-top: 0.5rem;
}

.custom-file-label {
	white-space: nowrap;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 22px;
	background: #ddd;
	margin: 0 8px;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;

	transition: 0.3s ease-in-out;
}

input:checked + .switch {
	background: #3acc93;
}

input:checked + .switch:after {
	left: calc(100% - 1px);
	-moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

input[type="text"],
input[type="password"] {
	border: 1px solid #ced4da;
	box-shadow: none;
}

.form-control.input-error:focus {
	box-shadow: 0 0 0 0.2rem rgba(246, 119, 119, 0.25);
}

input[type="number"] {
    font-family: "FaktSoftPro", sans-serif;
    color: #202b33;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 8px;
}

input[type="number"]::placeholder {
	color: #bbb6b6 !important;
}

input[type="color"] {
	border: none;
	background-color: inherit;
	outline: none;
	margin: 0;
	width: 25px;
	height: 25px;
}

h6 {
  font-family: "Lato", sans-serif;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 900;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group-item:last-child {
	border-bottom: 0;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
}

.innerContent {
	padding-top: 90px;
	padding-left: 50px;
	padding-right: 200px;
}

.copied-msg {
	position: absolute;
	right: 50px;

	opacity: 0;
	font-size: 16px;

	transition: all 0.5s ease;
}

.copy-url {
	border-top-left-radius: 0;
	border-top-right-radius:0;
	margin:0;
	height:20%;
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	cursor:pointer;
}

.equal div[class^="col-"] {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.equal .card {
	height: 325px;
	margin-top: 20px;
}

.equal .card p {
	overflow: scroll;
	height: 33%;
}

.badge-primary {
	background-color: #6991da;
}

.no-shadow:hover {
	box-shadow: none !important;
}

.loader {
	display: block;
  	text-align: center;
}

.loader > div {
  width: 20px;
  height: 20px;
  margin: 0 8px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: scaleUpDown 1.5s infinite ease-in-out both;
  animation: scaleUpDown 1.5s infinite ease-in-out both;
}

.loader .circle1 {
  -webkit-animation-delay: -0.30s;
  animation-delay: -0.30s;
}

.loader .circle2 {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes scaleUpDown {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes scaleUpDown {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.card {
	border: 0;
}

.card__title {
	text-transform: capitalize;
	height: 20%;
	line-height: 25px;
    overflow: hidden;
}

.card__buttons {
	height: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.card__description {
	height: 50%;
	padding: 15px 10px 0 10px;
}

.card__description > button {
	display: inline;
}

.card__image {
    height: 50%;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-position: center;
    border-radius: 4px 4px 0 0;
}

.list-group {
	margin: 10px 0;
	box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}

.list-group-item.active {
	background-color: #6991da;
	border-color: #6991da;
}

.product--thumbnail {
	width: 33%;
	margin: 10px 10px 0 0;
}

@media only screen and (max-width: 420px) {
	
}

@media only screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}

	.innerContent {
		padding-right: 50px;
		padding-left: 50px;
	}
}