@charset "UTF-8";

$primary-color: #6991da;
$secondary-color: rgb(238, 238, 238);
$success-color: #3acc93;
$danger-color: rgb(246, 119, 119);
$warning-color: rgb(255, 235, 148);
$white: #FFFFFF;

$background-color: #354050;
$background-text-color: rgb(242, 242, 242);
$card-color: #535e6a;

@import '../boost';