@charset "UTF-8";

$primary-color: #6991da;
$secondary-color: rgb(238, 238, 238);
$success-color: #3acc93;
$danger-color: rgb(246, 119, 119);
$warning-color: rgb(255, 235, 148);
$white: #FFFFFF;

$background-color: #f9f9f9;
$background-text-color: #202b33;

@import '../boost';