<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="row innerContent">
	<div class="col-sm-12">
		<a href="/organizations/{{slug_id}}/categories/new" class="card create-new" style="padding: 10px 0;">
			<h1 style="margin: 0;">
				<span class="fa-stack">
				    <i class="fa fa-circle-thin fa-stack-2x"></i>
				    <i style="line-height: 69px;" class="fa fa-plus fa-stack-1x"></i>
				</span>
			</h1>
		</a>
		<ul class="list-group">
			<li ng-repeat='category in categories' class="list-group-item clickable" ng-click="getProducts(category, $event)">
				<div class="category-wrapper">
					<div style="flex: 1">
						<h3>{{category.category_name}}</h3>
					</div>
					<p style="flex: 4">{{category.description}}</p>
					<div ng-if="category.active" style="flex: 1; text-align: center;">
						<i class="fa fa-circle success"></i>
					</div>
					<div ng-if="!category.active" style="flex: 1; text-align: center;">
						<i class="fa fa-circle danger"></i>
					</div>
					<div style="flex: 1; text-align: right;">
						<!--<a href="/organizations/{{slug_id}}/{{category.category_id}}"><button class='btn btn--primary'>Products</button></a>-->
						<button ng-click="goTo('/organizations/'+slug_id+'/'+category.category_name+'/settings')" class='btn btn--secondary fa fa-cog'></button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>