<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="row innerContent">
	<form id="new_product" name="new_product" class="card col-sm-6" style="margin: 10px auto;padding-top:10px;padding-bottom:10px;" ng-keyup="onFormChange()" ng-submit="createNewProduct()">
		<div class="form-group">
			<div class="form-row">
				<div class="mb-4 form-group col-md-6">
					<label for="name"><h5>Product Name</h5></label>
					<br>
					<input id="name" type="text" maxlength="60" class="form-control" required>
				</div>
				<div class="mb-4 form-group col-md-6">
					<label for="SKU"><h5>SKU</h5></label>
					<br>
					<input id="SKU" type="text" maxlength="60" class="form-control">
				</div>
			</div>
			<div class="mb-4">
				<label for="price"><h5>Price</h5></label>
				<div class="input-group">
	        		<div class="input-group-prepend">
	          			<span style="margin-top: 5px;" class="input-group-text">$</span>
	        		</div>
	        		<input id="price" type="number" step="any" class="form-control" required></input>
	        	</div>
			</div>
			<div class="mb-4">
				<label for="name"><h5>Colors</h5></label>
				<div id="colors">
					<div class="colorOption form-row">
						<label class="sr-only" for="color_label_1">Color Name</label>
						<input style="margin-top: 10px;" id="color_label_1" type="text" class="attributeInput form-control mr-sm-2 col-sm-6" placeholder="Color Name" required>
			        	<div class="input-group col-sm-5">
			        		<div class="input-group-prepend">
			          			<span style="margin-top: 5px;" class="input-group-text">
			          				<input id="color_selection_1" class="colorInputSwatch" type="color" value="#ffffff" required>
			          			</span>
			        		</div>
			        		<input type="text" class="form-control colorInputText" id="color_1" placeholder="Primary Color" value="#ffffff" required>
			        	</div>
			        	<i onclick="removeOption(this)" class="fa fa-minus-circle danger clickable remove-option"></i>
			        </div>
		        </div>
	        	<div id="add_new_color" style="padding-top: 15px;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new color</span></div>
			</div>
			<div class="mb-4">
				<label for="name"><h5>Sizes</h5></label>
				<div id="sizes">
					<div class="sizeOption">
						<label class="sr-only" for="sizeLabel">Size Label</label>
						<input style="margin-top: 10px;" id="sizeLabel" type="text" class="attributeInput form-control mr-sm-2 col-sm-6" placeholder="Size Label" required>
			        	<div class="input-group col-sm-5">
			        		<div class="input-group-prepend">
			          			<span style="margin-top: 5px;" class="input-group-text">$</span>
			        		</div>
	        				<input id="price" placeholder="Extra Cost" value="0" type="number" step="any" class="form-control" required>
	        			</div>
	        			<i onclick="removeOption(this)" class="fa fa-minus-circle danger clickable remove-option"></i>
			        </div>
		        </div>
	        	<div id="add_new_size" style="padding-top: 15px;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new size</span></div>
			</div>
			<div class="mb-4">
				<label for="description"><h5>Description</h5></label>
				<textarea id="description" class="form-control" rows="5"></textarea>
			</div>
			<div class="mb-4">
				<input id="personalizable" type="checkbox">
				<label for="personalizable" class="switch"></label>
				<span>Personalizable?</span>
			</div>
			<div id="personalizableConfig" class="mb-4" style="display: none;">
				<div id="add_new_personalization" style="padding-top: 5px;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new option</span></div>
			</div>
		</div>
		<div class="form-group">
			<div class="custom-file">
			   <input id="product_image" type="file" class="custom-file-input" required>
			   <label for="product_image" class="custom-file-label">Select Image(s) For Your Product...</label>
			</div>
		</div>					
		<button class="btn btn--success" type="subimt" style="width:100%;">Add New Product</button>
	</form>
</div>
<script>
	$('#colors').on('keyup', '.colorInputText', function() {
		console.log($(this).parent().find('.colorInputSwatch'))
	    $(this).parent().find('.colorInputSwatch').val($(this).val());
	});

	$('#colors').on('change', '.colorInputSwatch', function() {
		console.log($(this).parent().parent().find('.colorInputText'))
	    $(this).parent().parent().find('.colorInputText').val($(this).val());
	});

	$('#personalizable').on('change', function() {
		if ($(this).is(':checked')) {
			$('#personalizableConfig').fadeIn(300);
		} else {
			$('#personalizableConfig').fadeOut(300);
		}
	});

	$('#product_image').on('change', function(e) {
		var fileList = e.target.files;
		for (var i = 0; i < fileList.length; i++) {
			console.log(fileList[i]);
		}
	});
	
	$('#add_new_personalization').on('click', function() {
		$(this).parent()
		.prepend(
			'<div class="attributeWrapper">'+
				'<label class="sr-only" for="attributeLabel">Label</label>' +
				'<input style="margin-top: 10px;" id="attributeLabel" type="text" class="attributeInput form-control mr-sm-3 col-sm-7" placeholder="Label" required>' +
				'<label class="sr-only" for="attributeCost">Extra Cost</label>' +
				'<div class="input-group">' +
	        		'<div class="input-group-prepend">' +
	          			'<span style="margin-top: 5px;" class="input-group-text">$</span>' +
	        		'</div>' +
	        		'<input id="price" placeholder="Extra Cost" value="0" type="number" step="any" class="form-control" required>' +
	        	'</div>' +
				'<i onclick="removeOption(this)" class="fa fa-minus-circle danger clickable remove-option"></i>' +
			'</div>');
	});

	$('#add_new_color').on('click', function() {
		var index = $('#colors').children().length + 1;
		$('#colors').append(
			'<div class="colorOption">' +
				'<label class="sr-only" for="color_label_' + index + '">Color Name</label>' +
				'<input style="margin-top: 10px;" id="color_label_' + index + '" type="text" class="colorLabel attributeInput form-control mr-sm-2 col-sm-6" placeholder="Color Name" required>' +
	        	'<div class="input-group col-sm-5">' +
	        		'<div class="input-group-prepend">' +
	          			'<span style="margin-top: 5px;" class="input-group-text">' +
	          				'<input id="color_selection_' + index + '" class="colorInputSwatch" type="color" value="#ffffff" required>' +
	          			'</span>' +
	        		'</div>' +
	        		'<input type="text" class="form-control colorInputText" id="color_' + index + '" placeholder="Primary Color" value="#ffffff" required>' +
	        	'</div>' +
	        	'<i onclick="removeOption(this)" class="fa fa-minus-circle danger clickable remove-option"></i>' +
	        '</div>');
	});
	
	$('#add_new_size').on('click', function() {
		var index = $('#sizes').children().length + 1;
		$('#sizes').append(
			'<div class="sizeOption">' +
				'<label class="sr-only" for="size_label_' + index + '">Size Label</label>' +
				'<input style="margin-top: 10px;" id="size_label_' + index + '" type="text" class="attributeInput form-control mr-sm-2 col-sm-6" placeholder="Size Label" required>' +
	        	'<div class="input-group col-sm-5">' +
	        		'<div class="input-group-prepend">' +
	          			'<span style="margin-top: 5px;" class="input-group-text">$</span>' +
	        		'</div>' +
    				'<input id="size_price_' + index + '" placeholder="Extra Cost" value="0" type="number" step="any" class="form-control" required>' +
    			'</div>' +
    			'<i style="margin-top: 5px;display:flex;justify-content:center;" onclick="removeOption(this)" class="fa fa-minus-circle danger clickable col-sm-1"></i>' +
	        '</div>');
	});

	function removeOption(element) {
	    $(element).parent().remove();
	}

</script>