<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="row innerContent">
	<form id="new_popshop" class="card col-sm-6" style="margin: 10px auto">
		<div class="form-group">
			<div class="mb-4">
				<label for="name"><h5>Category Name</h5></label>
				<br>
				<input id="name" type="text" maxlength="60" class="form-control" required>
			</div>
			<div class="mb-4">
				<label for="description"><h5>Description</h5></label>
				<textarea id="description" class="form-control" rows="7"></textarea>
			</div>
		</div>
	</form>
</div>