<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="row innerContent">
	<form id="product_form" name="product_form" ng-keyup="onFormChange()" class="card col-sm-12" style="margin: 10px auto;">
		<div class="form-group">
			<div class="row">
				<div class="mb-4 form-group col-md-6">
					<label for="name"><h5>Product Name</h5></label>
					<br>
					<input id="name" type="text" maxlength="60" class="form-control" ng-model="product.product_name" required>
					<label for="sku"><h5>SKU</h5></label>
					<br>
					<input id="sku" type="text" maxlength="60" class="form-control" ng-model="product.sku">
					<label for="price"><h5>Price</h5></label>
					<div class="input-group">
		        		<div class="input-group-prepend">
		          			<span style="margin-top: 5px;" class="input-group-text">$</span>
		        		</div>
		        		<input id="price" type="number" step="any" class="form-control" ng-model="product.price" required></input>
		        	</div>
		        	<label for="description"><h5>Description</h5></label>
					<textarea id="description" class="form-control" rows="5" ng-model="product.description"></textarea>
					<h5>Product Images</h5>
					<div class="custom-file">
					   <input id="product_images" ng-click="onFormChange()" type="file" class="custom-file-input" onchange="angular.element(this).scope().showThumbnail(event);" multiple required>
					   <label for="product_images" class="custom-file-label">Add New Product Images...</label>
					</div>
					<div class="row" style="margin-top:20px;">
						<div ng-repeat="image in product.images" class="col-sm-6" style="display:flex;flex-direction: row;align-items: center;">
							<i ng-click="deleteImage(this);onFormChange()" style="margin-right: 10px;" class="fa fa-minus-circle danger clickable"></i>
							<div style="display:flex;flex-direction: column;">
								<img style="box-shadow:0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);margin:10px auto 0;max-width: 85%; border-top-right-radius: 5px; border-top-left-radius: 5px;" src={{image.image_url}}>
								<button ng-click="showImageConfig(image)" class="btn btn--secondary" style="margin:auto;width:85%;margin-top:0;border-top-left-radius: 0;border-top-right-radius: 0;">Mapping</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 form-group col-md-6">
					<label for="colors"><h5>Colors</h5></label>
					<div id="colors">
						<div class="colorOption" ng-repeat='color in product.colors'>
							<label class="sr-only" for="color_label_{{$index}}">Color Name</label>
							<input id="color_label_{{$index}}" type="text" class="attributeInput form-control mr-sm-2 col-sm-6" placeholder="Color Name" ng-model="color.label" required>
				        	<div class="input-group col-sm-5"  style="margin-bottom: 5px;">
				        		<div class="input-group-prepend">
				          			<span style="margin-top: 5px;" class="input-group-text">
				          				<input id="color_selection_{{$index}}" class="colorInputSwatch" type="color" value="#ffffff" ng-model="color.value" required>
				          			</span>
				        		</div>
				        		<input type="text" class="form-control colorInputText" id="color_{{$index}}" placeholder="Hex Value" value="#ffffff" ng-model="color.value" required>
				        	</div>
				        	<i style="margin-top: 5px;display:flex;justify-content:center;" ng-click="removeColor(color)" class="fa fa-minus-circle danger clickable col-sm-1"></i>
				        </div>
			        </div>
		        	<div id="add_new_color" ng-click="addColor()" style="padding:9px 0; margin:5px 0;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new color</span></div>
			        <label for="sizes"><h5>Sizes</h5></label>
					<div id="sizes">
						<div class="sizeOption" ng-repeat='size in product.sizes'>
							<label class="sr-only" for="size_label_{{$index}}">Size Label</label>
							<input id="size_label_{{$index}}" ng-model="size.label" type="text" class="attributeInput form-control mr-sm-2 col-sm-6" placeholder="Size Label" required>
				        	<div class="input-group col-sm-5">
				        		<div class="input-group-prepend">
				          			<span style="margin-top: 5px;" class="input-group-text">$</span>
				        		</div>
		        				<input id="size_price_{{$index}}" ng-model="size.price" placeholder="Extra Cost" value="0" type="number" step="any" class="form-control" required>
		        			</div>
		        			<i style="margin-top: 5px;display:flex;justify-content:center;" ng-click="removeSize(size)" class="fa fa-minus-circle danger clickable col-sm-1"></i>
				        </div>
			        </div>
		        	<div id="add_new_size" ng-click="addSize()" style="padding:9px 0; margin:5px 0;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new size</span></div>
					<label for="personalizableConfig"><h5>Personalization</h5></label>
					<div id="personalizableConfig">
						<div ng-repeat="option in product.custom_fields">
							<div class="personalizationOption">
								<label class="sr-only" for="personalization_label_{{$index}}">Label</label>
								<input id="personalization_label_{{$index}}" type="text" class="attributeInput form-control mr-sm-2 col-sm-4" placeholder="Label" ng-model="option.label" required>
								<div class="col-sm-4">
									<select class="custom-select attributeInput form-control mr-sm-2" style="margin-top: 0px;height: calc(2.5rem + 2px)" id="personalization_type_{{$index}}" ng-model="option.type">
										<option disabled selected>Type</option>
										<option value="text">Text</option>
										<option value="number">Number</option>
										<option value="checkbox">Checkbox</option>
									</select>
								</div>
					        	<div class="input-group col-sm-3">
					        		<div class="input-group-prepend">
					          			<span style="margin-top: 0px;" class="input-group-text">$</span>
					        		</div>
									<input style="margin-top:0px;" id="personalization_price_{{$index}}" ng-model="option.price" placeholder="Extra Cost" value="0" type="number" step="any" class="form-control" required>
								</div>
								<i style="margin-top: 5px;display:flex;justify-content:center;" ng-click="removePersonalization(option)" class="fa fa-minus-circle danger clickable col-sm-1"></i>
							</div>
						</div>
					</div>
					<div id="add_new_personalization" ng-click="addPersonalization()" style="padding:9px 0; margin:5px 0;" class="clickable"><i class="fa fa-plus-circle success"></i>&nbsp;<span>Add new option</span></div>
				</div>
			</div>
		</div>
	</form>
</div>
<div ng-include="'partials/promptDelete.html'"></div>
<div ng-include="'partials/promptImageConfig.html'"></div>
<script>
	$('#product_image').on('change', function(e) {
	    var fileName = e.target.files[0].name;
	    $('label[for="product_image"').text(fileName);
	});

	$('#colors').on('keyup', '.colorInputText', function() {
	    $(this).parent().find('.colorInputSwatch').val($(this).val());
	});

	$('#colors').on('change', '.colorInputSwatch', function() {
	    $(this).parent().parent().parent().find('.colorInputText').val($(this).val());
	});
</script>