<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="row equal innerContent">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
		<a href="/organizations/{{slug_id}}/{{category_id}}/new" class="card create-new">
			<h1>
				<span class="fa-stack fa-lg">
				    <i class="fa fa-circle-thin fa-stack-2x"></i>
				    <i style="line-height: 88px;" class="fa fa-plus fa-stack-1x"></i>
				</span>
			</h1>
		</a>
	</div>
	<div ng-repeat='product in products' class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
		<div class='card'>
			<div back-img="{{product.images[0].image_url}}" class='card__image' style="height: 50%"></div>
	        <div class='card__description' style="height: 50%;">
				<h5 class='card__title' style="height:20%;">{{product.product_name}}</h5>
				<p style="margin:0;height:30%;">{{product.description}}</p>
				<div class="card__buttons" style="height:50%;margin:0;">
					<h4 class="pull-left"><span class="badge badge-primary">${{product.price}}</span></h4>
					<div>
						<button ng-click="duplicateResource(product)" class='btn btn--secondary fa fa-copy'></button>
						<button class='btn btn--secondary fa fa-cog' ng-click="goTo('/organizations/'+slug_id+'/'+category_id+'/'+product.product_id+'/settings');"></button>
					</div>
				</div>
	        </div>
        </div>
	</div>
</div>
